## Strings

 - String are a sequence of characters, using the syntax of either single quote or double quotes (", ')
 - String are ordered sequences -> we can use **indexing** and **slicing** to grab sub-sections of the string
 - use [] square brackets and a number index to indicate positions of what you wish to grab
 - can use reverse indexing(-1, -2, -3, etc.)

 - Slice has the following syntax: [start,stop,step]

In [1]:
'hello'

'hello'

In [2]:
"hello"

'hello'

In [3]:
'this is also a string'

'this is also a string'

In [4]:
'I'm going on a run'

SyntaxError: unterminated string literal (detected at line 1) (375039999.py, line 1)

In [5]:
"I'm going on a run"

"I'm going on a run"

In [6]:
# using the print function to print a string
print("hello, world")

hello, world

In [7]:
"hello world one"
"hello world two"

'hello world two'

In [8]:
print("hello world one")
print('hello world two')

hello world one
hello world two

In [10]:
print('hello \nworld') # \n escape character, forces print to break line

hello
world

In [11]:
print('hello \tworld') # \t tab character, forces print to tab

hello 	world

In [12]:
len('hello')

5

In [14]:
len('I am')

4

#### Indexing and Slicing with Strings

In [15]:
my_string = "Hello World"

In [16]:
my_string

'Hello World'

In [18]:
my_string[0] # always start on 0

'H'

In [19]:
my_string[8]

'r'

In [22]:
my_string[-2] # reverse indexing ( negative index positions)

'l'

In [23]:
my_string[-1] # last character of a string

'd'

In [24]:
my_string = 'abcdfghijk'

In [25]:
my_string

'abcdfghijk'

In [27]:
my_string[2:] # starts on third index position

'cdfghijk'

In [29]:
my_string[:3] # stops on the fourth letter, up to the third string position

'abc'

In [30]:
my_string[3:6]

'dfg'

In [31]:
my_string[1:3]

'bc'

In [32]:
my_string[2:3]

'c'

In [34]:
my_string[2, -1]

TypeError: string indices must be integers

In [36]:
my_string[::2] # starts on first index and continues on jumping 2 from 2

'acfhj'

In [37]:
my_string[2:7:2]

'cfh'

In [39]:
my_string[::-1] # reverse string

'kjihgfdcba'

## Immutability

In [5]:
name = "Sam"

In [3]:
# name[0] = 'P'

In [8]:
last_letters = name[1:]

In [9]:
last_letters

'am'

In [10]:
'P' + last_letters # concatenation

'Pam'

In [16]:
x = 'Hello World'

In [17]:
x = x + " it is beautiful outside!"

In [18]:
x

'Hello World it is beautiful outside!'

In [21]:
x = x + ' it is beautiful outside!'

In [22]:
x

'Hello World it is beautiful outside! it is beautiful outside it is beautiful outside!'

In [24]:
letter = 'z'

In [25]:
letter * 10

'zzzzzzzzzz'

In [26]:
2 + 3 # sum of two int

5

In [27]:
'2' + '3' # concatenation of 2 + 3 -> 23

'23'

In [28]:
x = 'Hello World'

In [31]:
x.upper()

'HELLO WORLD'

In [32]:
x

'Hello World'

In [33]:
x.lower()

'hello world'

In [34]:
x

'Hello World'

In [35]:
x.split() # it split based on white space or something specified betweeen ()

['Hello', 'World']

In [38]:
x = 'Hi this is a string'

In [43]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [44]:
print('hello')

hello

#### Remember!

 - Strings are **not mutable**! (meaning you can't use indexing to change individual elements of a string).

 - string interpolation: stick a variable into a string;
 - two methods:
    - .format() method
    - f-strings(formatted string literals)
<br></br>
 - format() method:
   - 'String here {} then also {}'.format('something1','something2')

In [45]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [48]:
print('The {} is {} and {}'.format('fox', 'brown', 'quick'))

The fox is brown and quick

In [49]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick')) # index positioning

The quick brown fox

In [50]:
print('The {0} is {0} and {0}'.format('fox', 'brown', 'quick'))

The fox is fox and fox

In [52]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [55]:
print('The {f} {f} {f}'.format(f='fox', b='brown', q='quick'))

The fox fox fox

#### Float formatting follows "{value:width.precision f}" / f-strings

In [56]:
result = 100/777

In [57]:
result

0.1287001287001287

In [60]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [61]:
result = 104.12345

In [62]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

In [64]:
name = 'Jose'

In [66]:
print(f'Helo, his name is {name}') # writes the variable name insid the curly braces

Helo, his name is Jose

In [67]:
name = 'Sam'
age = 3

In [69]:
print(f'{name} is {age} years old') # formatted string literals, *f-strings*

Sam is 3 years old