## Lists

 - lists are ordered sequences that can hold a variety of object types;
 - supports indexing and slicing.

In [1]:
my_list = [1, 2, 3]

In [2]:
my_list = ['String', 100, 23.2]

In [3]:
len(my_list)

3

In [8]:
my_list = ['one', 'two', 'three']

In [9]:
my_list[0] # indexing

'one'

In [10]:
my_list[1:] # slicing

['two', 'three']

In [11]:
my_list

['one', 'two', 'three']

In [12]:
another_list = ['four', 'five']

In [35]:
new_list = my_list + another_list

In [36]:
new_list

['one', 'two', 'three', 'four', 'five']

In [37]:
new_list[0] = 'ONE ALL CAPS'

In [38]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [39]:
new_list.append('six') # insert new item inside list
print(new_list)

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [40]:
new_list.append('seven') # permanently changes the list, adding in the end of a list
print(new_list)

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [41]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [42]:
new_list.pop() # removes the last item of a list and returns it

'seven'

In [43]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [44]:
popped_item = new_list.pop()

In [45]:
popped_item

'six'

In [46]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [47]:
new_list.pop(0) # removes item from the index position and returns it

'ONE ALL CAPS'

In [48]:
new_list

['two', 'three', 'four', 'five']

In [52]:
new_list = ['a', 'b', 'c', 'e', 'd']
num_list = [1, 2, 3 , 4]

In [53]:
new_list.sort() # returns list in order

In [51]:
new_list

['a', 'b', 'c', 'd', 'e']

In [54]:
my_sorted_list = new_list.sort()

In [55]:
type(my_sorted_list) # no value or type returned

NoneType

In [57]:
new_list.sort()
my_sorted_list = new_list

In [58]:
my_sorted_list

['a', 'b', 'c', 'd', 'e']

In [60]:
num_list.reverse() # reverses a list

In [61]:
num_list

[4, 3, 2, 1]